body {
    padding: 50px;
}

.users, .users td {
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
}

a {
    display: block;
}

input {
    width: 150px;
}


select {
    width: 154px;
}

button {
    width: 250px;
}

.controls-container {
    margin-bottom: 5px;
}

.single-button-container {
    margin-left: 158px;
}

h3 {
    background: url("listmark.png") no-repeat;
    padding: 2px;
    padding-left: 30px;
}