<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create user</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/user_script.js"></script>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="top">
    <br/>
<!--    <form action="create_user" method="post">-->
    <form id="create-form" th:action="@{/user/create}" th:object="${userForm}" th:method="post" accept-charset="utf-8">
        <h1>New User:</h1>
        <label>
            name <br/>
            <input type="text" id = "userName" name="name" th:value="${userForm.name}">
        </label><br/>
        <label>
            login <br/>
            <input type="text" id = "userLogin" name="login" th:value="${userForm.login}">
        </label><br/>
        <label>
            password<br/>
            <input type="password" id = "userPassword" name="password" th:value="${userForm.password}">
        </label><br/>
        <label>
            phone1<br/>
            <input type="text" id = "userPhone1"  name="phone1" th:value="${userForm.phone1}">
        </label><br/>
        <label>
            phone2<br/>
            <input type="text" id = "userPhone2"  name="phone2" th:value="${userForm.phone2}">
        </label><br/>
        <label>
            address<br/>
            <input type="text" id = "address"  name="address" th:value="${userForm.address}">
        </label><br/>
        <br/>
        <input type="submit" value="Сохранить">
    </form>
</div>
</body>
</html>