<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Пользователи</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/script.js"></script>
    <link href="/style.css" rel="stylesheet">

    <style th:inline="text">
        h3 {
            babackground: url("listmark.png") no-repeat;
            padding: 2px;
            padding-left: 30px;
        }
    </style>
</head>

</br>
<h4>Получить пользователя по id:</h4>
<div class="controls-container">
    <input type="text" id = "userIdTextBox" value="3" placeholder="Введите id пользователя" >
    <button onclick="sendMsgGetUser()">Получить пользователя по id2</button>
</div>
<pre id = "userDataContainer"></pre>

<a th:href="@{/user/create}">Создать пользователя</a>
</br>
<h4>Список пользователей:</h4>

<table class="users">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Адрес</td>
        <td style="width: 100px">Телефон</td>
    </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>
</body>
</html>
