<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Пользователи</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/script.js"></script>
    <link href="/style.css" rel="stylesheet">

    <style th:inline="text">
        h3 {
            babackground: url("listmark.png") no-repeat;
            padding: 2px;
            padding-left: 30px;
        }
    </style>
</head>

<h4>Создать пользователя:</h4>
<label>
    name <br/>
    <input type="text" id = "name" name="name" value="">
</label><br/>
<label>
    login <br/>
    <input type="text" id = "login" name="login" value="">
</label><br/>
<label>
    password<br/>
    <input type="password" id = "password" name="password" value="">
</label><br/>
<label>
    phone1<br/>
    <input type="text" id = "phone1"  name="phone1" value="">
</label><br/>
<label>
    phone2<br/>
    <input type="text" id = "phone2"  name="phone2" value="">
</label><br/>
<label>
    address<br/>
    <input type="text" id = "address"  name="address" value="">
</label><br/>
<br/>
<button onclick="sendMsgCreateUser()">Создать пользователя</button>

</br></br>
<h4>Получить пользователя по id:</h4>
<div class="controls-container">
    <input type="text" id = "userIdTextBox" value="3" placeholder="Введите id пользователя" >
    <button onclick="sendMsgGetUser()">Получить пользователя по id</button>
</div>
<pre id = "userDataContainer"></pre>

</br>
<h4>Список пользователей:</h4>

<table class="users">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Адрес</td>
        <td style="width: 100px">Телефон</td>
    </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>
</body>
</html>
